body {
    background-color: rgb(255, 250, 237);
    font-family: 'Times New Roman', Times, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; 
  padding-top: 100px;
}

header {
  background-color: #ffffff; 
  color: #333; 
  padding: 20px 40px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}


header:hover {
  background-color: #f4f4f4; 
}

header .logo img {
  max-height: 50px; 
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px; 
}

nav a {
  text-decoration: none;
  color: #333; 
  font-size: 16px;
  font-weight: 500; 
  text-transform: uppercase; 
  transition: color 0.3s ease-in-out; 
}

nav a:hover {
  color: #4CAF50; 
  border-bottom: 2px solid #4CAF50; 
}

.cta-button {
  background-color: #4CAF50; 
  color: #fff; 
  padding: 10px 20px;
  border-radius: 30px; 
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #45a049; 
}

